body {
  background-color: #651fff;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 560px 1fr;
      grid-template: 1fr 560px 1fr/1fr 560px 1fr;
      grid-template-areas: ". . ." ". field ." ". . .";
  height: 100vh;
  width: 100vw;
}
body .field {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: field;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (80px)[7];
      grid-template: 1fr/repeat(7, 80px);
  overflow: hidden;
  border-radius: 40px;
}
body .field::before {
  content: "";
  position: absolute;
  width: 560px;
  height: 560px;
  border-radius: 40px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 1/1/2/8;
  background-color: #651fff;
  background-size: 80px 80px;
  background-repeat: repeat;
  background-image: radial-gradient(circle at 50% 45px, transparent 28px, #000 29px);
  z-index: -1;
}
body .field::after {
  content: "";
  position: absolute;
  width: 560px;
  height: 560px;
  border-radius: 40px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 1/1/2/8;
  background-size: 80px 80px;
  background-repeat: repeat;
  background-image: radial-gradient(circle, transparent 28px, #000 30px, #fff 31px);
  z-index: -1;
  border-bottom: 7px solid #000;
}
body .field .column {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
body .field .column .chip {
  width: 80px;
  height: 80px;
  z-index: -1;
  border-radius: 50%;
}
body .field .column .yellow-chip {
  background-color: rgb(253, 253, 124);
}
body .field .column .pink-chip {
  background-color: rgb(255, 154, 171);
}